
<button (click)="getSelectedRows()">Get Selected Rows</button>


<div style="display: flex; flex-direction: column; height: 100%;">
    <div style="display: flex;">
      <div>
        <div class="row">
          <label>suppressQuotes = </label>
          <select id="suppressQuotes">
            <option value="none">(default)</option>
            <option value="true">true</option>
          </select>
        </div>
        <div class="row">
          <label>columnSeparator = </label>
          <select id="columnSeparator">
            <option value="none">(default)</option>
            <option value="tab">tab</option>
            <option value="|">bar (|)</option>
          </select>
        </div>
      </div>

      <div style="margin-left: 10px;">
        <div class="row">
          <label>customHeader = </label>
          <select id="customHeader">
            <option>none</option>
            <option value="array">ExcelCell[][] (recommended format)</option>
            <option value="string">string (legacy format)</option>
          </select>
        </div>
        <div class="row">
          <label>customFooter = </label>
          <select id="customFooter">
            <option>none</option>
            <option value="array">ExcelCell[][] (recommended format)</option>
            <option value="string">string (legacy format)</option>
          </select>
        </div>
      </div>
    </div>
    <div style="margin: 10px 0;">
      <!--<button (click)="onBtnUpdate()">Show api.getDataAsCsv() text</button>-->
      <button (click)="onBtnExport()">
        Download file (api.exportDataAsCsv())
      </button>
    </div>

    <div style="flex: 1; position: relative;">
    
    <ag-grid-angular
    #agGrid
    [frameworkComponents]='frameworkComponents'
    style="width: 4100px; height:900px;"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    rowSelection="multiple"
    [components]="agGridComponents"
    >
    >
   
    </ag-grid-angular>
      <textarea id="csvResult">
Press the api.getDataAsCsv() button to view exported CSV here</textarea
      >
    </div>
  </div>